div {
  background-color: cornflowerblue;
  width: 100px;
  height: 75px;
  padding: 20px;
  text-align: center;
}

section {
  background-color: navy;
display: flex;
flex-direction: row;
justify-content: space-around;
height: 50vh;
align-items: center;
flex-wrap: wrap;
border-radius: 10px;
}

body {
  background-color: lightgray;
}

a {
  color: navy;
  text-decoration: none;
  border-radius: 8px;
}
